* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Linden Hill", serif; */
  font-family: "Cutive Mono", monospace;
  color: #070707;
}

/* Jumbotron */
#jumbo-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* margin-top: -200px; */
  z-index: -10;
  background-color: black;
  background: url(images/jrsrichmond.jpg) no-repeat center;
}

#jumbotron {
  width: 100vw;
  height: 100vh;
  /* background: url(images/jrsrichmond.jpg) no-repeat center; */
}

.nav-wrapper {
  text-align: center;
}

#nav-list {
  display: inline-table;
  margin-top: 5vh;
  list-style-type: none;
  color: #f5f5f5;
  /* font-family: "Cutive Mono", monospace; */
  font-size: 5vmin;
  /* font-weight: 600; */
  text-shadow: 0px 0px 20px black;
}

#nav-list li {
  margin: 0 3vw;
  display: inline;
  padding: 0 10px;
  border-radius: 4px;
  transition: all ease 300ms;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

#nav-list li:hover {
  cursor: pointer;
  color: #9ab3c9;
  /* letter-spacing: 1.1px; */
  /* text-shadow: 2px 4px 5px black; */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#greeting {
  transform: translateY(55vmin);
  padding: 10px 0px;
  text-align: center;
  font-size: 10vh;
  /* font-family: "Brush Script MT", cursive; */
  font-family: "Lobster", cursive;
  color: #f5f5f5;
  text-shadow: 0px 0px 20px black;
  animation: fadein 3s;
}

.dark-wrapper {
  transform: translateY(55vmin);
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid #f5f5f5;
  border-bottom: 4px solid #f5f5f5;
  text-align: center;
  animation: color-change-3x 5s linear infinite alternate both;
}

#info {
  font-family: "Cutive Mono", monospace;
  font-size: 4vh;
  color: #f5f5f5;
  /* letter-spacing: 1.2px; */
  text-shadow: 0px 0px 20px black;
  /* animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both; */
  /* animation: text-shadow-drop-center 0.6s both; */
  animation: scale-in-ver-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    both;
}

#down-arrow {
  width: 50px;
  transform: translateY(60vmin);
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: bounce 1s infinite ease-out;
}

#down-arrow:hover {
  cursor: pointer;
  width: 55px;
  transition: 300ms all ease;
}

/* About */
#about-container {
  /* line-height: 1.4; */
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100vh;
  min-height: 760px;
  /* background-color: #232323; */
  background-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23181818' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #f5f5f5;
}

#about-header {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 5vmin;
  font-weight: 400;
}

#about-grid {
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr 2fr 8fr 2fr 8fr;
  /* grid-row-gap: 20px; */
  text-align: center;
}

.about-icons {
  font-size: 15vmin;
  /* color: #133810; */
  color: #9ab3c9;
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  outline: inherit;
  transition: all 300ms;
}

.about-icons:hover {
  /* animation: pulsate-bck 0.5s ease-in-out both; */
  /* transform: scale(1.2); */
  filter: brightness(130%);
  animation: text-shadow-pop-bottom 0.3s both;
}

.about-arrows {
  place-self: start;
  margin-top: 4vh;
  font-size: 7vmin;
  color: #9ab3c9;
  /* color: #133810; */
}

.about-text {
  color: #9ab3c9;
  /* background-color: #9ab3c9;
  border-radius: 10px;
  box-shadow: 2px 5px 10px #0a0a0a; */
  padding: 20px;
}

#about-grid h1 {
  font-size: 4vmin;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 4vh;
  /* color: #9ab3c9; */
  /* filter: brightness(130%); */
  text-shadow: 0px 2px 5px black;
  transition: all 300ms ease;
}

#about-grid p {
  font-size: 2.5vmin;
  text-shadow: 0px 2px 5px black;
  transition: all 300ms ease;
}

/* Work */
#work-container {
  height: 100vh;
  background-color: #f5f5f5;
}

/* Responsive */
@media screen and (max-width: 760px) {
  #about-grid {
    width: 80vw;
    grid-template-columns: 1fr;
  }
  .about-arrows {
    transform: rotate(90deg);
    place-self: center;
    /* display: none; */
  }
}

@media screen and (max-width: 760px) {
  #nav-list {
    font-size: 8vw;
  }
  #nav-list li {
    padding: 0px 5px;
  }
  #greeting {
    font-size: 12vw;
  }
  #info {
    font-size: 5vw;
  }
}

/* Animations */

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(60vh);
  }
  50% {
    transform: translateY(59vh);
  }
  100% {
    transform: translateY(60vh);
  }
}

@keyframes color-change-3x {
  0% {
    background: rgba(154, 179, 201, 0.5);
  }
  50% {
    background: rgba(39, 69, 33, 0.5);
  }
  100% {
    /* background: #ae9d83; */
    background: rgba(174, 157, 131, 0.5);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0px 0px 20px black;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #000000, 0 2px #000000, 0 3px #000000, 0 4px #000000,
      0 5px #000000, 0 6px #000000, 0 7px #000000, 0 8px #000000;
    transform: translateY(-8px);
  }
}
