:root {
  --color-1-very-light: #3c6138;
  --color-1-light: #234b1f;
  --color-1: #143810;
  --color-1-dark: #082405;
  --color-1-very-dark: #021200;

  --color-2-very-light: #2a4947;
  --color-2-light: #173936;
  --color-2: #0c2a28;
  --color-2-dark: #041b1a;
  --color-2-very-dark: #000e0d;

  --color-3-very-light: #765a44;
  --color-3-light: #5c3d26;
  --color-3: #442914;
  --color-3-dark: #2c1706;
  --color-3-very-dark: #160a00;

  --color-4-very-light: #744346;
  --color-4-light: #5a2528;
  --color-4: #431316;
  --color-4-dark: #2c0608;
  --color-4-very-dark: #2c0608;

  --white-1: #f5f5f5;
  --white-2: #eeeeee;
  --gray-1: #bcbcbc;
  --gray-2: #848484;
  --black-1: #333741;
  --black-2: #222222;
  --black-3: #232323;
  --black-4: #191919;
  --blue: #9ab3c9;
  --blue-dark: #43688a;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  /* font-family: "Linden Hill", serif; */
  /* font-family: "Cutive Mono", monospace; */
  /* font-family: "Montserrat", sans-serif; */
}

/* Jumbotron */
#jumbo-img {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: url(images/jrsrichmond.jpg) no-repeat center;
}

#jumbotron {
  width: 100vw;
  height: 100vh;
}

#home-button {
  position: fixed;
  z-index: 20;
  top: 40px;
  left: 20px;
  color: var(--white-1);
  font-size: 3vw;
  background: linear-gradient(
    45deg,
    var(--color-1-very-light) 50%,
    var(--color-2-very-light) 50%
  );
  border: 0.5vw inset var(--white-1);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  text-shadow: 0px 2px 10px black;
  box-shadow: 0px 2px 10px black;
  transition: all ease 1s;
}

#home-button:focus {
  outline: none;
}

#home-button:hover {
  cursor: pointer;
  animation: rotate-center 0.6s ease-in-out both;
}

.nav-wrapper {
  text-align: center;
}

#nav-list {
  display: inline-table;
  margin-top: 5vh;
  list-style-type: none;
  color: var(--white-1);
  /* font-family: "Cutive Mono", monospace; */
  font-size: 4vmin;
  /* font-weight: 600; */
  /* text-shadow: 0px 0px 20px black; */
  text-shadow: 0px 2px 10px black;
}

#nav-list li {
  display: inline-block;
  margin: 0 3vw;
  padding: 0 10px;
  border-radius: 4px;
}

#nav-list a {
  /* display: inline-block; */
  color: inherit;
  text-decoration: none;
  transition: all ease 300ms;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

#nav-list a:after {
  content: "";
  /* position: absolute; */
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
#nav-list a:hover:after {
  width: 40px;
  /* background: var(--blue); */
  box-sizing: border-box;
  border-bottom: 4px solid var(--blue);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

#nav-list li a:hover {
  cursor: pointer;
  /* color: var(--blue); */
  /* letter-spacing: 1.1px; */
  text-shadow: 2px 4px 5px black;
}

#greeting {
  transform: translateY(60vh);
  padding: 10px 0px;
  text-align: center;
  font-size: 8vh;
  font-family: "Pacifico", cursive;
  color: var(--white-1);
  text-shadow: 0px 0px 20px black;
  animation: fadein 3s;
  /* font-family: "Brush Script MT", cursive; */
  /* font-size: 10vh;
  font-family: "Lobster", cursive; */
  font-family: "Oleo Script", cursive;
  /* font-family: "Leckerli One", cursive;
  font-family: "Molle", cursive;
  font-family: "Abril Fatface", cursive;
  font-family: "Cherry Swash", cursive;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Righteous", cursive;
  font-family: "Croissant One", cursive;
  font-family: "Berkshire Swash", cursive; */
}

.dark-wrapper {
  transform: translateY(60vh);
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid var(--white-1);
  border-bottom: 4px solid var(--white-1);
  text-align: center;
  /* animation: color-change-3x 5s linear infinite alternate both; */
}

#info {
  font-family: "Cutive Mono", monospace;
  font-size: 4vh;
  color: var(--white-1);
  /* letter-spacing: 1.2px; */
  text-shadow: 0px 0px 20px black;
  /* animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both; */
  /* animation: text-shadow-drop-center 0.6s both; */
  animation: scale-in-ver-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    both;
}

#down-arrow-link {
  /* transform: translateY(40vmin); */
  display: block;
  width: 50px;
  margin-top: -0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  color: var(--white-1);
  text-decoration: none;
  animation: bounce 1s infinite ease-out;
}

#down-arrow-link:hover {
  cursor: pointer;
  transition: 300ms all ease;
}

/* About */
#about-container {
  padding-top: 20vh;
  padding-bottom: 30vh;
  /* height: 100vh; */
  /* background: linear-gradient(
    45deg,
    var(--color-1-very-light) 10%,
    var(--color-2-very-light) 90%
  ); */
  /* background-color: var(--white-2); */
  /* background-color: var(--white-1); */
  /* background-color: var(--black-3); */
  background-color: var(--black-4);
  /* background-color: #191A1D; */
  /* background-color: var(--black-1); */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23181818' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  color: var(--white-1);
  /* color: var(--white-1);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.45); */
}

#branch {
  position: absolute;
  opacity: 0.02;
  width: 100vw;
  top: 100vh;
}

#about-header {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 5vmin;
  font-weight: 400;
  animation: float 3s ease-in-out infinite;
}

#about-grid {
  display: grid;
  grid-template-columns: 8fr 2fr 8fr 2fr 8fr;
  align-items: center;
  width: 90vw;
  max-width: 1360px;
  margin: 0 auto;
  /* grid-row-gap: 20px; */
}

.flip-card {
  height: 40vmin;
  width: 40vmin;
  margin: auto;
  background-color: #eef9f5;
  background-color: transparent;
  perspective: 1000px;
  transition: all 300ms;
  cursor: pointer;
  /* animation: float 3s ease-in-out infinite; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45); */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* border: 0.5vh inset var(--black-3); */
  border-radius: 7px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
  /* box-shadow: 1px 1px var(--black-3), 2px 2px var(--black-3),
    3px 3px var(--black-3), 4px 4px var(--black-3), 5px 5px var(--black-3),
    6px 6px var(--black-3); */
  box-shadow: 20px 50px 30px rgba(0, 0, 0, 0.45);
}

.flip-card-front {
  z-index: 2; /* background-color: var(--white-1); */
  overflow: hidden;
  background-color: var(--white-1);
  /* background-image: url("./images/tampa.jpg"); */
  /* background-image: url("./images/leaf-texture-3.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* background: linear-gradient(30deg, var(--color-2) 10%, var(--color-1) 90%); */
  /* animation: color-change-3x 3s linear infinite alternate both; */
}

.leaf {
  position: absolute;
  object-fit: cover;
  opacity: 0.15;
  z-index: -1;
}

.about-icon {
  margin: 8% auto;
  font-size: 20vmin;
  /* color: var(--gray-2); */
  color: var(--black-3);
  /* text-shadow: 1px 1px var(--black-3), 2px 2px var(--black-3),
    3px 3px var(--black-3), 4px 4px var(--black-3), 5px 5px var(--black-3),
    6px 6px var(--black-3); */
  background-clip: text;
  transition: all 300ms;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  overflow: hidden;
  /* background-color: var(--black-1); */
  /* background-color: var(--color-1-very-light); */
  background: linear-gradient(
    45deg,
    var(--color-1-very-light) 20%,
    var(--color-2-very-light) 80%
  );
  /* box-shadow: 20px 20px 110px rgba(0, 0, 0, 0.45) inset; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45) inset; */
}

.about-icon-sm {
  padding-right: 7px; /* color: var(--blue); */
}

.about-arrow {
  place-self: center;
  margin-top: 4vh;
  color: var(--gray-1);
  font-size: 7vmin;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
  /* text-shadow: 1px 1px var(--black-3), 2px 2px var(--black-3),
    3px 3px var(--black-3), 4px 4px var(--black-3), 5px 5px var(--black-3),
    6px 6px var(--black-3); */
  /* color: var(--color-4-very-light); */
  /* color: var(--blue); */
  /* color: #133810; */
  /* color: var(--color-1-very-light); */
}

.about-text {
  /* color: var(--white-1); */ /* color: var(--blue); */
  /* background-color: var(--blue);
  border-radius: 10px;
  box-shadow: 2px 5px 10px #0a0a0a; */
  text-align: left;
  margin: auto;
  padding: 10px 40px;
  text-shadow: 0px 1px 7px black;
  color: var(--white-1);
}

#about-grid h1 {
  margin-bottom: 1vh; /* font-family: "Brush Script MT", cursive; */
  /* font-family: "Lobster", cursive; */
  font-family: "Pacifico", cursive;
  font-size: 3.5vmin;
  letter-spacing: 1.2px;
  font-weight: 400;
  /* color: #de6262; */
  /* color: #ffb88c; */
  /* color: var(--blue); */
  /* filter: brightness(130%); */
  transition: all 300ms ease;
  font-family: "Oleo Script", cursive;
  /* font-family: "Leckerli One", cursive;
  font-family: "Molle", cursive;
  font-family: "Abril Fatface", cursive;
  font-family: "Cherry Swash", cursive; */
  /* font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Righteous", cursive;
  font-family: "Croissant One", cursive;
  font-family: "Berkshire Swash", cursive; */
}

#about-grid p {
  font-size: 2.5vmin;
  color: var(--white-2);
  transition: all 300ms ease;
}

/* Work */
#work-container {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 30vh;
  background: linear-gradient(
    45deg,
    var(--color-1-very-light) 10%,
    var(--color-2-very-light) 90%
  );
  color: var(--white-1);
  background-color: var(--black-1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bcbcbc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23232323' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b1b1b1' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23212121' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a5a5a5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%231f1f1f' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%239a9a9a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231d1d1d' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238f8f8f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%231b1b1b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23848484' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23191919' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#work-header {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 5vmin;
  font-weight: 400;
  animation: float 3s ease-in-out infinite;
}

.project {
  display: block;
  width: 40vw;
  margin: 100px auto;
}

[className^="imghvr-"],
[className*=" imghvr-"] {
  background-color: #d14233;
}

figure {
  background-color: #d14233;
}

/* Responsive */
@media screen and (max-width: 1380px) {
  #about-container {
    padding: 10vh 0;
  }
  #about-grid {
    width: 80vw;
    grid-template-columns: 1fr;
  }
  .about-arrow {
    transform: rotate(90deg);
  }
  .flip-card {
    width: 60vmin;
  }
  #about-grid p {
    font-size: 3vmin;
  }
}

@media screen and (max-width: 760px) {
  #storm-icon {
    border-width: 1vw;
    font-size: 4vw;
  }
  #nav-list {
    font-size: 7vw;
  }
  #nav-list li {
    padding: 0px 5px;
  }
  #greeting {
    font-size: 12vw;
  }
  #info {
    font-size: 5vw;
  }
  .flip-card {
    width: 80vw;
  }
}

/* Animations */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(60vh);
  }
  50% {
    transform: translateY(59vh);
  }
  100% {
    transform: translateY(60vh);
  }
}

@keyframes color-change-3x {
  0% {
    background: rgba(20, 56, 16, 0.5);
    background: var(--color-1-very-light);
  }
  50% {
    background: rgba(12, 42, 40, 0.5);
    background: var(--color-2-very-light);
  }
  100% {
    background: rgba(68, 41, 20, 0.5);
    background: var(--color-3-very-light);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0px 0px 20px black;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #000000, 0 2px #000000, 0 3px #000000, 0 4px #000000,
      0 5px #000000, 0 6px #000000, 0 7px #000000, 0 8px #000000;
    transform: translateY(-8px);
  }
}

@keyframes float {
  0% {
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 0 25px 15px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
