* {
  margin: 0;
  padding: 0;
}

#jumbotron {
  width: 100vw;
  height: 100vh;
  background: url(images/jrsrichmond.jpg) no-repeat center;
  animation: intro 1s;
}

.nav-wrapper {
  text-align: center;
}

#nav-list {
  display: inline-table;
  margin-top: 5vh;
  list-style-type: none;
  color: #f5f5f5;
  font-family: "Cutive Mono", monospace;
  font-size: 6vh;
  font-weight: 600;
  text-shadow: 2px 4px 10px black;
  animation: intro 3s;
}

#nav-list li {
  margin: 0 2vw;
  display: inline;
  transition: all ease 300ms;
}

#nav-list li:hover {
  cursor: pointer;
  color: #9ab3c9;
  /* letter-spacing: 1.5px; */
  text-shadow: 2px 4px 10px black;
}

.dark-wrapper {
  margin-top: 60vh;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #f5f5f5;
  font-family: "Brush Script MT", cursive;
  text-shadow: 2px 4px 10px black;
  font-size: 5vw;
  animation: fall 2s ease-out;
}

#intro {
  font-size: 10vh;
}

#info {
  font-family: "Cutive Mono", monospace;
  font-size: 4vh;
}

@media screen and (max-width: 760px) {
  #nav-list {
    font-size: 8vw;
  }
  #intro {
    font-size: 12vw;
  }
  #info {
    font-size: 5vw;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fall {
  from {
    opacity: 0;
    /* margin-top: 0px; */
  }
  to {
    opacity: 1;
    /* margin-top: 60vh; */
  }
}
